:root {
  --font-body: "Roboto", Arial, Helvetica, sans-serif;
  --font-headline: "New Amsterdam", "Roboto", sans-serif;
  /* colors */
  --primary-color: #FFE0b5;
  --secondary-color: #EDE580;
  --tertiary-color: #E12446;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.3em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: right;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

p {
  padding: 0.75rem;
}

.logo {
  padding-top: 0.4em;
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
  margin-right: auto;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;

  & img{
    width: 1200px;
    height: 500px;
  }
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -15px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 15px 25px;
  background-color: var(--secondary-color);
  color: black;
  margin: auto;
  display: block;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: var(--large-font);
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: var(--primary-color);
}
button:active {
  background-color: var(--primary-color);
  box-shadow: 0 5px #666;
  transform: translate(4px);
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Save seccion */
.save {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.save {
  width: 47px;
}

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart {
  width: 100px;
}



/* End cart icon styles */

.mission {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;
}

.mission p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.products {
  margin-top: 2rem;
  padding: 1rem;
}

.meal-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.meal-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Save List */
.save-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.save-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for meal lists */
.top-products {
  list-style: none;
}
.meal-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  transition: box-shadow 0.3s ease;
}

.meal-card:hover{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.meal-card h2,
.meal-card h3,
.meal-card p {
  margin: 0.5em 0;
}

.meal-card{
  border-radius: 20px;

  & img{
    border-radius: 20px 20px 20px 20px;
  }
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.meal-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.meal-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;

  & img{
    border-radius: 15px;
  }
}


.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.information{
  margin: 10px;
}

.divcart .meal-list{
  display: block;
}

.checkoutBtm {
  color: inherit;
  text-decoration: none;
}

/* Form */
form input {
  display: block;
  margin-bottom: 10px;
  width: 400px;
  height: 25px;
  border-radius: 5px;
}

/* Search Menu List */
.searchbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  & #search{
    width: 90%;
    height: 30%;
  }
  & input {
    border-radius: 9px;
    padding: 5px;
    font-size: 1.2em;
  }
}

/* Page Details */

.tag{
  display: inline-block;
  margin: 5px;
  padding: 8px;
  border-radius: 100%;
  border: 2px solid black;
  background-color: var(--secondary-color);
}
.addbutton{
  display: flex;
}

/* Flip Card */
.flip-card {
  background-color: transparent;
  width: auto;
  height: 400px;
  perspective: 1000px;
  border-radius: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.flip-card-front, .instrucBox {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.instrucBox {
  background-color: #ff8051;
  color: white;
  transform: rotateY(180deg);
  border-radius: 30px;
  overflow-y: auto;
}

.m-instructions {
  padding: 2rem;
}

/* Alert */
.alert{
  display: flex;
  background-color: #bbc96b;
  border: 5px solid #5a632a;
  justify-content: space-between;

  & span{
    text-align: right;
    margin: 10px;
    font-size: 20px;

    & span:hover{
      background-color: var(--primary-color);
    }
  }
}
.accordion {
  flex-direction: row;
  gap: 1rem;
}

details {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  transition: background-color 2s ease;

  summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
  }

  summary::marker {
    display: none;
    /* removes default arrow in some browsers */
  }

  &[open] {
    max-height: 500px;
    background-color: var(--secondary-color);
    transition: max-height 2s ease, background-color 2s ease;
  }
}
#m-ingredients li{
  list-style: none;
}

details:not(open){
  max-height: 2.5rem;
  transition: max-height 2s ease, background-color 2s ease;
}

/* Delete section */
.delete{
  position: absolute;
  top: 10px;
}
.meal-list
.cart-card{
  position: relative;
}
.save-list .meal-card {
  position: relative;
}

.discount {
  position: absolute;
  animation: resize 1.5s infinite alternate;
}

@keyframes resize {
  from {
    width: 10%;
  }

  to {
    width: 5%;;
  }
}

@media (min-width: 768px) {
}
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 25%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

#hidde {
  display: block;
  text-align: right;
  margin-right: 20px;
}

.cart-total {
  display: inline;
}

/* Select Category Section */
#product-grid {
  display: flex;
  gap: 4rem;
  overflow-x: auto ;
  padding: 2rem;
  list-style: none;
  scroll-snap-type: x mandatory;
}

#product-grid {
  padding-inline-start: 1rem;
}

#product-grid::-webkit-scrollbar {
  display: none;
}

#product-grid li{
  min-width: 120px;
  flex-shrink: 0;
  scroll-snap-align: start;
  text-align: center;
}

#product-grid a {
  text-decoration-line: none;
}

#product-grid img {
  max-width: 100px;
} 

.carousel-wrapper{
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-btn {
  background: #00000080;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
}

.arrow-btn:hover {
  background: #000;
}